<div class="container">
  <div class="row justify-content-center">
    <h1 class="mt-5">Ajouter un film :</h1>
    <div class="col-md-6 my-4">
      <form class="row justify-content-center">
        <div class="form-group">
          <label for="title">Titre :</label>
          <input type="text" class="form-control" id="title" [(ngModel)]="movie.title" name="title" placeholder="Entrez le titre">
        </div>
        <div class="form-group">
          <label for="director">Réalisateur :</label>
          <input type="text" class="form-control" id="director" [(ngModel)]="movie.director" name="director" placeholder="Entrez le réalisateur">
        </div>
        <div class="form-group">
          <label for="synopsis">Synopsis :</label>
          <textarea class="form-control" id="synopsis" [(ngModel)]="movie.synopsis" name="synopsis" rows="4" placeholder="Entrez le synopsis"></textarea>
        </div>
        <div class="form-group">
          <label for="releaseDate">Date de sortie :</label>
          <input type="date" class="form-control" id="releaseDate" [(ngModel)]="releaseDateStr" name="releaseDate" [ngModelOptions]="{standalone: true}" (input)="updateReleaseDate($event)">
        </div>
        <button class="btn btn-primary my-4" (click)="updateMovie()">Modifier</button>
      </form>
    </div>
  </div>
</div>
